@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

:root {
  --color-primary: #262629;
  --color-secondary: #ffffff;
  --color-highlight: #ffee00;
  --color-hover: #3d3d42;
  --color-border: #262629;
  --color-accent: #ffee00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
    height: 100%;}

body {
  background-image: url(./img/bg.png);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.4rem;
  font-family: sans-serif;
  color: var(--color-primary);
  font-weight: 500;
}

::selection{
  background-color: var(--color-hover);
  color: var(--color-secondary);
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}

h4 {
  font-weight: lighter;
}

.header span {
  background-color: var(--color-highlight);
  padding: 0 1rem;
}

span {
  font-weight: bold;
}

.add-form {
  box-shadow: 20% 14%;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

form {
  display: inline-flex;
  align-items: end;
  gap: 1rem;
}

.icon {
  font-size: 3.8rem;
}

button,
select,
input {
  background-color: var(--color-secondary);
  font-family: inherit;
  border: none;
  border-radius: 4px;
  padding: 1.2rem 3.2rem;
  font-size: 1.8rem;
    font-weight: 700;
}

.add-form .btn-desc {
  text-transform: uppercase;
  border: var(--color-primary) .2rem solid;
  cursor: pointer;
  transition: ease-in 0.1s;
  padding:.5rem;
  font-size: medium;
}
.add-form .btn-add {
  text-transform: uppercase;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
  transition: ease-in 0.1s;
}

.add-form button:hover {
  background-color: var(--color-hover);
  color: var(--color-secondary);
}

.list {
  border: solid 0.2rem var(--color-border);
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
  height: 100%;
}

.list span .title{
    visibility: hidden;
    width: max-content;
    background-color: var(--color-secondary);
    border: var(--color-border) solid .2rem;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    top:100%;
    left: 5%;
    z-index: 1;
    font-weight: lighter;
    user-select: none;
}

.list span:hover .title{
  visibility: visible;
}

.actions button{
  cursor: pointer;
}

.actions button,
.list select {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0.8rem;
  border: var(--color-border) .2rem solid;
}
.actions option:hover{
  background-color: var(--color-hover);
}

.list ul {
  list-style: none;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: var(--color-accent);
}



footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
  box-shadow: 0px 10px 60px var(--color-border);
}

.option-description{
  border-radius: 4px;
  padding: 5%;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%; 
  width: 90%;
 background-color: var(--color-secondary);
 box-shadow: 0px 0px 50px 1px var(--color-border);
}
input{
    letter-spacing: 2px;
}
.option-description textarea{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: var(--color-secondary);
  font-size: 16px;
  resize: none;
  line-height: 1.5;
  text-align: start;
}

.overlay {
  cursor: url('./img/cursor-close.png') 16 16,
    auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.add-form .option-description {
  background-image: url(./img/bg.png);
    z-index: 1000;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  background-color: var(--color-hover);
  color: var(--color-secondary);
  outline: none;
}

/* Add styles for the rest of your component as needed */
@media (max-width: 600px) {
  form {
    display: block;
  }

  form div {
    margin: 1rem 0;
  }

  .list span:active .title {
    visibility: visible;
  }

  footer{
      position: relative;
  }
}